doctype html
html(lang='en')
  head
    // Basic Page Needs
    meta(charset='utf-8')

    title Node Twitter Client
    
    meta(name='description', content='Twitter interface')
    meta(name='author', content='Lyuboslav Voynov')
    
    // Mobile Specific Metas
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    // FONTS
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,600', rel='stylesheet', type='text/css')
    
    // CSS
    link(rel='stylesheet', href='css/global.css')
    
    // JQEURY
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    
  body
    block header
      include includes/header.pug
    
    block content
      
      include includes/tweeter.pug

      include includes/sections.pug
      
    block scripts
